h1,h2,h3,h4,h5,h5 {
    margin: 0;
    font-family: $open-sans;
}

h1{
font-size: $xxxxx-large;
font-weight: $bold;
}

h2{
    font-size: $xxx-large;
    font-weight: $bold;
}

h3{
    font-size: $large;
    font-weight: $bold;
}

p{
    font-family: $raleway;
    font-weight: $medium;
    color: $onyx;
}

